html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

.app-root-light {
  background-color: #f3f4f6;
  color: #111827;
}

.app-root-dark {
  background-color: #111827;
  color: #e5e7eb;
}
